<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/defaultLayout">
<head>
  <title>registration page</title>
</head>
<body>
<div layout:fragment="content">
  <div th:if="${param.success}" class="alert alert-success">You have
    successfully registered a user!
  </div>

  <div th:if="${numberOfUsers == 0}" class="alert alert-info">
    Registering an Administrator first.
  </div>

  <div th:if="${param.emailExists}" class="alert alert-danger">
    You specified an e-mail which is taken by someone else. Please
    register with a different e-mail.
  </div>

  <h2 class="form-signin-heading">Registering a user</h2>

  <form th:action="@{/register}" method="post" th:object="${user}"
        class="form-signin">

    <div class="mb-3">
      <input type="email" class="form-control" id="email" name="username"
             aria-describedby="emailHelp"
             placeholder="Type a valid e-mail here (eg., drbhagwat@yahoo.com)"
             required autofocus="" th:field="*{username}">
      <div id="emailHelp" class="form-text">We'll never share your email with
        anyone else.
      </div>
      <p th:if="${#fields.hasErrors('username')}" th:errorclass="error"
         th:errors="*{username}">
      </p>
    </div>

    <div class="mb-3">
      <input type="password" class="form-control"  autocomplete="on"
             id="password" name="password"
             placeholder="Type Password (minimum 8 characters)"
             required th:field="*{password}">
      <p th:if="${#fields.hasErrors('password')}" th:errorclass="error"
         th:errors="*{password}">
      </p>
    </div>

    <div th:if="${numberOfUsers >= 1}">Select User's Role
      <select th:field="*{roleName}" id="dropDownList">
        <option th:each="roleName : ${roleNames}" th:value="${roleName}"
                th:text="${roleName}">
        </option>
      </select>
    </div>

    <div class="dropdown">
      <button class="btn btn-primary btn-block mt-3" type="submit">Register
      </button>
      <span>Are you an existing user?<a th:href="@{/login}">Login</a>
      </span>
    </div>

    <input type="hidden" th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}"/>
  </form>
</div>
</body>
</html>