<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/defaultLayout">
<head>
  <title>view user page</title>
</head>
<body>
<div layout:fragment="content">
  <div class="row">
    <div class="col">
      <table class="table table-bordered table-striped caption-top">
        <caption><strong>User Details</strong></caption>
        <thead>
        <tr>
          <th><span th:text="Email"></span></th>
          <th><span th:text="CreatedBy"></span></th>
          <th><span th:text="CreatedAt"></span></th>
          <th><span th:text="ModifiedBy"></span></th>
          <th><span th:text="ModifiedAt"></span></th>
          <th><span th:text="Role"></span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><span th:text="${user.username}"></span></td>
          <td><span th:text="${user.createdBy}"></span></td>
          <td><span th:text="${{user.createdTime}}"></span></td>
          <td><span th:text="${user.modifiedBy}"></span></td>
          <td><span th:text="${{user.lastModifiedTime}}"></span>
          <td><span th:text="${{user.roleName}}"></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
