<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/defaultLayout">
<head>
  <title>view users page</title>
</head>
<body>
<div layout:fragment="content">
  <div class="row">
    <div class="col">
      <div th:if="${param.updateFailure}"
           class="alert alert-info">The system cannot update the user as
        there is no such user
      </div>
      <div th:if="${param.deleteFailure}"
           class="alert alert-info">Cannot delete user - this is the last admin
        and there are still other users in the system (at least one admin needed
        to manage them).
      </div>
      <div th:if="${param.updateSuccess}"
           class="alert alert-info">Successfully updated. Please
        note: unless you are an admin, you cannot change your own role
        from a user to an admin. If you are the one admin, you cannot change
        your own role from admin to a user because the system needs one admin.
      </div>
      <div th:if="${param.deleteSuccess}"
           class="alert alert-info">You have successfully deleted the
        user
      </div>
      <a th:if="${loggedInUser.roleName == 'ROLE_ADMIN'}"
         class="btn btn-primary mb-3"
         th:href="@{/register}">
        Add User</a>
      <table class="table caption-top table-bordered table-striped"
             id="userTable">
        <caption><strong>All Users in the System</strong></caption>
        <thead>
        <tr>
          <th>User's Email</th>
          <th>View User Details</th>
          <th>Update User</th>
          <th>Delete User</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
          <td th:text="${user.username}"></td>
          <td>
            <a class="btn btn-primary"
               th:href="@{/api/v1/users/get(userName=${user.username})}">
              View</a>
          </td>
          <td>
            <a th:if="${loggedInUser.roleName == 'ROLE_ADMIN'} or
              ${loggedInUser.username == user.username}" class="btn btn-warning"
               th:href="@{/api/v1/users/update(userName=${user.username})}">
              Update</a>
          </td>
          <td>
            <a th:if="${loggedInUser.roleName == 'ROLE_ADMIN'}"
               class="btn btn-danger"
               th:href="@{/api/v1/users/delete(userName=${user.username})}">
              Delete</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <form class="form-signin" method="post" th:action="@{/logout}">
      <button class="btn btn-danger btn-block" type="submit">Logout
      </button>
      <input type="hidden" th:name="${_csrf.parameterName}"
             th:value="${_csrf.token}"/>
    </form>
  </div>
</div>
</body>
</html>
